* {
  box-sizing: border-box;
  font-family: helvetica;
}
body {
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  background-color: grey;
  margin: 0;
  
}

nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 30, 30);
    
    
}
h1 {
  color: bisque;
  font-size: x-large;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
section {
 height: 100vh;
 display: grid;
 grid-template-columns: 1fr 4fr 1fr;
 grid-template-rows: 1fr;
 grid-template-areas:
 "rd brd blck";
 place-items: center;
     
} 

#redside {
width: 50px;
height: 50px;
border: 6px solid black;
background-color: red;
font-size: x-large;
color:whitesmoke;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#blackside {
width: 50px;
height: 50px;
background-color: black;
border: 6px solid red;
font-size: x-large;
color: whitesmoke;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  
} 
table { 
   border-collapse: collapse;
}

tbody {
  grid-area: brd;
  width: 600px;
  height: 600px;   
}

td {
  width: 75px;
  height: 75px;
  text-align: center;
}

.red {
  background-color: red;
}
.black {
  background-color: black;
}

img {

width: 65px;
height: 65px;
margin: 0px;
padding: 0px;
border: 0px;

}
#quit {
  display:none;
}
div {
display: none;

}

/* later */